@import 'variables';

#sobre {
    @include flex-center;
    min-height: 100%;
    .content {
        font-family: $popping;
        
        .experiencia,
        .cualidades {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            @media screen and (max-width: 768px) {
                padding: .2rem;
                margin-bottom: 6rem;
            }
            
            h1 {
                font-size: $textLg1;
                font-weight: 400;
                letter-spacing: 2px;
                position: relative;
                color: $esmerald;
                margin-bottom: 2.5rem;
            }

            h1:before {
                content: '';
                position: absolute;
                background: $esmerald;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 1px;
            }
        }
    }

}
.experiencia {
    .exp-card{
        display: flex;
        flex-direction: column;
        color: $white-smoke;

        h2{
            font-size: $textMd3;
            font-weight: 200;
        }
        .exp-card-time{
            display: flex;
            align-items: center;
            
            i{
                font-size: $textMd2;
            }
            h3{
                margin: 0;
                margin-left: .5rem;
                @include flex-center;
                height: 100%;
                font-weight: 200;
                font-size: $textMd1;
            }
        }
        .exp-card-body{
            h4{
                font-size: $textMd2;
            }
        }
    }
}
.cualidades-list{
    ul{
        list-style: none;
        li{
            display: flex;
            margin: 1.3rem 0;
            overflow-wrap: break-word;
            @media screen and (max-width: 1200px) {
                display: block;
            }
            h2{
                font-size: $textMd2;
                font-weight: 200;
                color: $gainsboro;
            }
            .trait{
                color: $white-smoke;
                text-indent: 1rem;
                font-weight: 400;
                font-size: $textMd2;
            }
        }
    }
}